@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import './variables';

* { 
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.main{
  width: 95%;
  height: 100vh;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 50px;
}

.dnd-container{
  width: 100%;
  height: calc(100vh - 50px) ;
}